{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog!</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quod! Obcaecati quas atque temporibus maxime odit corporis enim. Culpa repellat tempora odio! Perferendis inventore architecto nemo maxime, praesentium quidem molestiae quam quibusdam vero cum quos eaque, fuga molestias corporis enim.</p>
    <p>Laborum, doloribus, iste possimus, explicabo doloremque quo nesciunt tempore alias nulla suscipit consequatur qui. Doloremque iusto facere illo. Dolor eveniet omnis, molestias assumenda excepturi illo maxime magni corrupti reprehenderit nam voluptatum quod. Itaque voluptatibus, ipsam provident fugiat libero sunt id?</p>

{% endblock %}